/* src/app/home/home.component.css */
.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-section {
  position: relative; /* חובה ל-z-index לעבוד */
  z-index: 10;      /* לוודא שהתוכן יהיה מעל particles-js */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* כדי שימלא את כל הגובה של home-container */
  text-align: center;
  color: #0c5808; /* צבע לבן לטקסט */
  padding: 20px;
}

.hero-section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #043b20;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #054225;
}

.cta-button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 25px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #1deaed;
}



.teacher-content, .student-content, .guest-content {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}